.page-container {
    padding: 8rem 28rem;
    
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
.site-title {
    font-size: 4.2rem;
}

.ptt-btn-toggle {
    width: 5.6rem;
    font-weight: bold;
    font-size: 16px;
}