.header-section {
    font-family: "Roboto", sans-serif;
    padding-bottom: 2.5rem;
}

.page-header {
    font-size: 3.2rem;
    font-weight: 400;
}

.page-description, .page-hint {
    letter-spacing: .1px;
}

.page-description {
    font-size: 1.6rem;
    font-weight: 400;
}

.page-hint {
    font-size: 1.4rem;
    font-weight: 300;
}